/* General Navbar Styling */
.navbar {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    height: 50px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth theme change */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    height: 30px;
    border-radius: 50%;
  }
  
  .navbar-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 5px;
    margin: 0 10px;
    border-radius: 999px;
    transition: all 0.3s ease;
    flex: 1;
    position: relative;
    z-index: 1;
  }
  
  .navbar-input input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 200px;
    transition: width 0.3s ease;
  }
  
  .search-container {
    position: absolute;
    top: 100%;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 3px;
    margin-left: -70px;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 600px;
  }
  
  .search-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
    z-index: 1100;
  }
  
  .search-close:hover {
    color: #3b3b3b;
  }
  
  .search-results {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .search-result {
    display: flex;
    align-items: center;
    padding: 5px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .search-result:hover {
    background-color: #e7e7e7;
  }
  
  .search-result .MuiAvatar-root {
    border: 2px solid #007bff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-result h4 {
    margin-left: 12px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
  
  .navbar-middle {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
  
  .navbar-option {
    display: flex;
    align-items: center;
    padding: 0 50px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-option .MuiSvgIcon-root {
    color: gray;
    transition: color 0.3s ease;
    font-size: 30px;
  }
  
  .navbar-option:hover {
    background-color: #eff2f5;
  }
  
  .navbar-option:hover .MuiSvgIcon-root,
  .active .MuiSvgIcon-root {
    color: #2e81f4;
  }
  
  .active {
    border-bottom: 4px solid #2e81f4;
    color: #2e81f4;
  }
  
  .navbar-info {
    display: flex;
    align-items: center;
  }
  
  .navbar-info h4 {
    margin-left: 10px;
    font-size: 14px;
    color: #1d2129;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-right svg {
    fill: #555;
    transition: fill 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    width: 25px;
    height: 28px;
  }
  
  .navbar-right svg:hover {
    fill: #007bff;
    transform: scale(1.1);
  }
  
  .mobile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .mobile-sidebar.open {
    transform: translateX(0);
  }
  
  .desktop-sidebar {
    display: block;
  }
  

  .dark-theme {
    background-color: #333;
    color: #e4e6eb; 
  }
  
  .dark-theme .navbar-input {
    background-color: #434445;
    border-radius: 16px;
  }
  
  .dark-theme .navbar-input input {
    background-color: #434445;
    color: #e4e6eb;
  }
  
  .dark-theme .navbar-option {
    color: #e4e6eb;
  }
  
  .dark-theme .navbar-option:hover{
    background-color: #444;
  }
  
  .dark-theme .navbar-right svg {
    fill: #e4e6eb;

  }
  
  .dark-theme .navbar-right svg:hover {
    fill: #007bff;
  }
  
  .dark-theme .search-container {
    background-color: #333;
    color: #e4e6eb;
  }
  
  .dark-theme .search-result h4 {
    color: #e4e6eb;
  }
  
  .dark-theme .search-result:hover {
    background-color: #444;
  } 

  .dark-theme .search-close {
    color: #888;
  }
  
  .dark-theme .search-close:hover {
    color: #e4e6eb;
  }
  .mobile-menu-icon {
    display: none; /* Hide by default */
    cursor: pointer;
    position: absolute;
  }

  @media (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
        width: 100%;
        height: auto; 
        box-shadow: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left {
        width: 80%; 
        display: flex;
        justify-content: space-between; /* Spread items evenly */
        align-items: center;
        margin-bottom: 15px;
    }

    .navbar-right {
        display: none; /* Hide navbar-right on smaller screens */
    }

    .navbar-input {
        flex-grow: 1;
        margin-left: 10px;
        background-color: #eff2f5;
        border-radius: 20px; /* Rounded corners for a modern look */
        transition: width 0.3s ease; /* Smooth transition effect */
    }

    .search-container {
        position: fixed; /* Make it fixed to ensure it takes the full width */
        left: 0; /* Align to the left */
        top: 50px; /* Position just below the navbar */
        width: 100%; /* Full width */
        margin: 0; /* Remove any margin */
        border-radius: 0; /* Remove border radius for a full-width look */
        max-height: calc(100vh - 60px); /* Adjust max-height to ensure it fits within the screen */
        overflow-y: auto; /* Allow scrolling if content exceeds */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow for depth */
        z-index: 1000;
        background-color: #fff; /* Ensure background is visible */
        display: flex;
        flex-direction: column;
        padding: 5px 0; /* Adjust padding for a cleaner look */
    }
    .search-results{
      margin-top: -10px;
    }
    .search-result .MuiAvatar-root {
      width: 35px;
      height: 35px;
    }
    .search-close {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        color: #888;
        transition: color 0.3s ease;
        z-index: 1100;
    }

    .search-result h4 {
        font-size: 14px;
        color: #333; /* Ensure text is readable */
    }

    .navbar-middle {
        width: 100%;
        margin: 0;
        margin-left: -14px;
        margin-top: 5px;
        display: flex;
        justify-content: space-around; 
        border-top: 1px solid #8f8f8f;

    }

    .navbar-option {
        padding: 10px 30px;
        flex-grow: 1; /* Allow options to grow evenly */
        text-align: center; /* Center-align text */
        font-size: 15px; /* Slightly reduce font size */
        color: #555; /* Use a softer color */

    }

    .mobile-menu-icon {
      display: block; /* Show in mobile view */
      right: 50px;
      color: #757575;
    }
  
    .navbar-option .MuiSvgIcon-root {
        font-size: 25px;
    }

    .desktop-sidebar {
        display: none; /* Hide sidebar on smaller screens */
    }
}
