.message-sender {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    max-width: 100%; /* Fixed typo */
    margin: 20px auto;
}

.message-sender-top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
    width: 100%; /* Ensure it takes full width */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.message-sender-top form {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
}

.message-sender-top > form > input {
    outline-width: 0;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    flex-grow: 1;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.message-sender-form .MuiIconButton-root {
    display: inline-flex; 
    padding: 6px;
    background-color: transparent; /* Set background to transparent */
    color: green; /* Set icon color as needed */
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.message-sender-form .MuiIconButton-root svg {
    font-size: 24px;
}

.message-sender-input {
    flex: 1;
}

.message-sender-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

.message-sender-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.message-sender-option h3 {
    font-size: medium;
    margin-left: 10px;
}

.message-sender-option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .message-sender {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        background: white;
        margin: 0;
    }

    .message-sender-top {
        flex-direction: row;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .message-sender-top > form {
        width: 100%; 
        margin-top: 10px;
    }

    .message-sender-top > form > input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 20px;
    }

    .message-sender-bottom {
       display: none;
    }

    .message-sender-option {
        width: 100%;
        margin: 5px 0;
        justify-content: center;
    }

    .message-sender-option h3 {
        font-size: small;
    }
}
