.posts-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 100%;
}

.post-wrapper {
    display: flex;
    justify-content: center;
  
    padding: 0 10px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .posts-container {
        padding: 10px;
    }

    .post-wrapper {
        padding: 0 5px;
    }
}

@media (max-width: 480px) {
    .posts-container {
        padding: 5px;
    }

    .post-wrapper {
        padding: 0;
    }
}
